<div class="card">
    <div class="card-header">Filtros
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="de">De</label>
                <input type="number" #de class="form-control m-2" [(ngModel)]="rangeFilter.from" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
                <label for="ate">Até</label>
                <input type="number" #ate class="form-control m-2" [(ngModel)]="rangeFilter.to" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="btn-group">
                <button class="btn btn-primary btn-block btn-sm m-2" (click)="filterBooks()">Filtrar</button>
                <button class="btn btn-danger btn-block btn-sm m-2" (click)="clearFilter()">Limpar</button>
            </div>
        </form>
    </div>
</div>
